.Input {
  display: flex;
  flex-direction: column;
  gap: 8px;

  &__label {
    line-height: 22px;
  }

  &__block {
    position: relative;
  }

  &__input {
    width: 100%;
    padding: 15px 8px 15px 16px;
    border-radius: 8px;
    background-color: var(--color-gray);
    font-family: Roboto;
    font-size: 14px;
    line-height: 16.4px;
    color: var(--color-gray-light);
    border: 1px solid transparent;

    &_error {
      border: 1px solid var(--color-red);
    }
  }

  &__btn {
    height: 24px;
    width: 24px;
    margin: 0 8px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__error {
    margin-top: -4px;
    color: var(--color-red);
    font-size: 10px;
    line-height: 12px;
  }
}
