.List {
  max-width: 1280px;
  margin: 0 auto;
  padding-bottom: 56px;

  @media (max-width: 768px) {
    padding-bottom: 32px;
  }

  &__ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;

    @media (max-width: 1200px) {
      grid-template-columns: repeat(3, 1fr);
    }
    @media (max-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 550px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
