.Header {
  height: 265px;
  background-color: var(--color-violet);
  padding: 0 80px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: 768px) {
    height: 281px;
    padding: 0 16px;
  }
}
